
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.cta-button{
    background-color: lightseagreen;
    color: white;
    padding: 10px 30px;
    position: relative;
    border: 2px solid lightseagreen;
    cursor: pointer;
}

.cta-button::before{
    content: " ⭐ ";
    position: absolute;
    top: 9px ;
    left: 5px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.cta-button:hover::before{
   transform: scale(1.2);
}

.cta-button::after{
    content: '➡️';
    position: absolute;
    top: 8px;
    left: 105px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.cta-button:hover::after{
    transform: translateX(4px);
}

.first-letter::first-letter{
    font-size: 2.5em;
    color: blue;
      text-transform: uppercase;

}

li::marker{
    color: crimson;
    font-size: 1.5em;
    font-weight: bold;
}

a{
    display: block;
}

a[href]{
    color: blue;
    text-decoration: underline;
}

a[title]{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

/* target a class containing primary */
a[class~="primary"] {
  color: red;
  font-weight: bold;
}

/* target a prefixed  */
a[href^="https://"] {
  color: green;
  text-decoration: underline;
}

/* target suffixed */
a[href$=".com"] {
  color: darkgreen;
  text-decoration: underline dotted;
}

/* TABLE */
table th{
    background-image: linear-gradient(to bottom, blue, skyblue);
    padding: 7px 5px ;
    color: white
}

 table tr[class~='row-1']{
  background-image: linear-gradient(to bottom ,#7be876,#93c190 );
  padding: 0;
}
 table tr[class~='row-2']{
  background-image: linear-gradient(to bottom ,#a3aca3,#DFEADF );
  padding: 0;
}
 table tr[class~='row-3']{
  background-image: linear-gradient(to bottom ,#B5FFB3,#DFEADF );
  padding: 0;
}
 table tr[class~='row-4']{
  background-image: linear-gradient(to bottom ,#B5FFB3,#DFEADF );
  padding: 0;
}
 table tr[class~='row-5']{
  background-image: linear-gradient(to bottom ,#FFE2AB,#DFEADF );
  padding: 0;
}
 table tr[class~='row-6']{
  background-image: linear-gradient(to bottom ,#B5FFB3,#DFEADF );
  padding: 0;
 
}
table tr{
    padding : 0;
    margin: 2px;
   
}
 td{
    padding: 0.3em 3em;

   
}



span[class='status']{
    
   padding: 4px 20px;
    border-radius: 15px;
   
   
 
}

span[class~='re-read']{
    border: 1px solid green;
    padding: 5px 15px;
    width: 100%;
    border-radius: 15px;
}

span[class~='to--read']{
    border: 1px solid gray;
    padding: 5px 15px;
    width: 100%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgb(180, 171, 171), lightgray);

}
span[class~='progress']{
    /* border: 1px solid #eaaf3b; */
    padding: 5px 15px;
    width: 100%;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #eaaf3b, #b6a37d);

}


tr[class='to-read']{
background-image:linear-gradient(to right,#E3ECE3,#E3ECE3);
}


tr[class='in-progress']{
background-image:linear-gradient(to bottom,#FFE2AA,#FFE2AA);
}

span{
  display:inline-block;


}

span[class^='rate'] >span{

   border-radius: 10px;
   height: 17px;
   width: 17px;
   border: 2px solid green;
   margin-right: 5px;
   background-image: linear-gradient(to bottom, white, white);
  
   
}


span[class~='one'] :nth-child(1){
  /* background-image: linear-gradient(to right, yellowgreen, orange);  */
  /* border: 1px solid orange; */
}
span[class~='two'] :nth-child(-n +2){
  /* background-image: linear-gradient(to right, blue, navy); */

}
span[class~='three'] span{
  /* background-image: linear-gradient(to right, green, lightgreen) */
} 

span[class~='one'] :nth-child(1){
    /* border :2px solid red */
  /* background-image: linear-gradient(to right, yellowgreen, orange); */
}
span[class~='two'] :nth-child(-n +2){
    /* border: 2px solid yellow */
  /* background-image: linear-gradient(to right, blue, navy); */

}
span[class~='three'] span{
    /* border: 2px solid blue */
  /* background-image: linear-gradient(to right, green, lightgreen) */
}

span[class='status'] ,span[class^='rate']{
  width: 90px;
  padding: .3em 1.1em;
}


span[class~='circle-1'] > span{
    background-image: linear-gradient(to right, yellow, yellow);
    border: 1px solid black
}
span[class~='circle-3'] span:nth-child(1){
    border: 2px solid  black;
    background-image: linear-gradient(to bottom, yellow, yellow);

}


span[class~='circle-4'] span:nth-child(-n +2){
    border: 2px solid  black;
    background-image: linear-gradient(to bottom, yellow, yellow);

}
span[class~='circle-6'] span:nth-child(-n +2){
    border: 2px solid  black;
    background-image: linear-gradient(to bottom, yellow, yellow);

}


 /* tr[class='to-read'] span[class='status']{
  border: 2px solid blue;
  background-image: linear-gradient(to right, green, lightgreen);

}
tr[class='read'] span[class='status']{
  border: 2px solid red;
  background-image: linear-gradient(to right, yellow, yellowgreen);
}

tr[class='in-progress'] span[class='status']{
  border: 2px solid orange;
  background-image: linear-gradient(to right, orange,gold)
}

span[class='status'] ,span[class^='rate']{
  height: 50px;
  width: 80px;
  padding: 2px 5px;
}


 
  */
