
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
.cta-button{
    background-color: lightseagreen;
    color: white;
    padding: 10px 30px;
    position: relative;
    border: 2px solid lightseagreen;
    cursor: pointer;
}

.cta-button::before{
    content: " ⭐ ";
    position: absolute;
    top: 9px ;
    left: 5px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.cta-button:hover::before{
   transform: scale(1.2);
}

.cta-button::after{
    content: '➡️';
    position: absolute;
    top: 8px;
    left: 105px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.cta-button:hover::after{
    transform: translateX(4px);
}

.first-letter::first-letter{
    font-size: 2.5em;
    color: blue;
      text-transform: uppercase;

}

li::marker{
    color: crimson;
    font-size: 1.5em;
    font-weight: bold;
}

a{
    display: block;
}

a[href]{
    color: blue;
    text-decoration: underline;
}

a[title]{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

/* target a class containing primary */
a[class~="primary"] {
  color: red;
  font-weight: bold;
}

/* target a prefixed  */
a[href^="https://"] {
  color: green;
  text-decoration: underline;
}

/* target suffixed */
a[href$=".com"] {
  color: darkgreen;
  text-decoration: underline dotted;
}

/* TABLE */

tr[class='read']{
  background-image: linear-gradient(to right ,#B3FFAF, #B2FFAF);
}

tr[class='to-read']{
background-image:linear-gradient(to right,#E3ECE3,#E3ECE3);
}

tr[class='in-progress']{
background-image:linear-gradient(to right,#FFE2AA,#FFE2AA);
}

span{
  display:inline-block;

}

 tr[class='to-read'] span[class='status']{
  border: 2px solid blue;
  background-image: linear-gradient(to right, green, lightgreen);

}
tr[class='read'] span[class='status']{
  border: 2px solid red;
  background-image: linear-gradient(to right, yellow, yellowgreen);
}

tr[class='in-progress'] span[class='status']{
  border: 2px solid orange;
  background-image: linear-gradient(to right, orange,gold)
}

span[class='status'] ,span[class^='rate']{
  height: 50px;
  width: 80px;
  padding: 2px 5px;
}

span[class^='rate'] >span{
   border: 2px solid yellow;
   border-radius: 10px;
   margin: 5px;
   height: 10px;
   width: 10px;
   background-color: blue;
   
}
span[class~='one'] :nth-child(1){
  background-image: linear-gradient(to right, yellowgreen, orange);
}
span[class~='two'] :nth-child(-n +2){
  background-image: linear-gradient(to right, blue, navy);

}
span[class~='three'] span{
  background-image: linear-gradient(to right, green, lightgreen)
}
